
*.class
*.jar
target/classes/META-INF/beans.xml
.settings/.jsdtscope
target/classes/META-INF/persistence.xml
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/m2e-wtp/web-resources/META-INF/maven/com.fabio/neostore-api/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/com.fabio/neostore-api/pom.xml
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/neostore-api.war
target/neostore-api/web.xml
target/classes/messages_pt_BR.properties
target/classes/messages_pt_BR.properties
target/classes/messages_pt_BR.properties
target/neostore-api-0.0.1-SNAPSHOT.war
target/neostore-api-0.0.1-SNAPSHOT/web.xml
target/surefire-reports/com.fabio.neostoreapi.validation.ValidationTest.txt
target/surefire-reports/TEST-com.fabio.neostoreapi.validation.ValidationTest.xml
target/neostore-api-0.0.1-SNAPSHOT/WEB-INF/classes/messages_pt_BR.properties
